# <font color=green> PYTHON PARA DATA SCIENCE - PANDAS
---

# <font color=green> 1. INTRODUÇÃO AO PYTHON
---

# 1.1 Introdução

> Python é uma linguagem de programação de alto nível com suporte a múltiplos paradigmas de programação. É um projeto *open source* e desde seu surgimento, em 1991, vem se tornando uma das linguagens de programação interpretadas mais populares. 
>
> Nos últimos anos Python desenvolveu uma comunidade ativa de processamento científico e análise de dados e vem se destacando como uma das linguagens mais relevantes quando o assundo é ciência de dados e machine learning, tanto no ambiente acadêmico como também no mercado.

# 1.2 Instalação e ambiente de desenvolvimento

### Instalação Local

### https://www.python.org/downloads/
### ou
### https://www.anaconda.com/distribution/

### Google Colaboratory

### https://colab.research.google.com

### Verificando versão

In [1]:
!python --version

Python 3.7.3

# 1.3 Trabalhando com dados

In [2]:
import pandas as pd 
pd.set_option('display.max_rows', 10)
#pd.set_option('display.max_columns', 1000)

In [3]:
dataset = pd.read_csv('/home/lns/Downloads/Alura/DataScients/dataScience/Pandas/python-funcoes-pacotes-pandas/data/db.csv' , sep = ';')

In [4]:
dataset

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10
...,...,...,...,...,...,...,...
253,Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58
254,Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06
255,Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Rodas de liga', 'Controle de tração', 'Câmbi...",68934.03
256,Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90
257,Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimídia', 'Teto panorâmico', 'Vid...",90381.47

In [5]:
dataset.dtypes

Nome              object
Motor             object
Ano                int64
Quilometragem    float64
Zero_km             bool
Acessórios        object
Valor            float64
dtype: object

In [6]:
dataset[['Quilometragem' , 'Valor']].describe()

       Quilometragem          Valor
count     197.000000     258.000000
mean    58278.421320   98960.513101
std     35836.733259   29811.932305
min       107.000000   50742.100000
25%     27505.000000   70743.512500
50%     55083.000000   97724.380000
75%     90495.000000  124633.302500
max    119945.000000  149489.920000

In [7]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Nome           258 non-null    object
 1   Motor          258 non-null    object
 2   Ano            258 non-null    int64
 3   Quilometragem  197 non-null    float64
 4   Zero_km        258 non-null    bool
 5   Acessórios     258 non-null    object
 6   Valor          258 non-null    float64
dtypes: bool(1), float64(2), int64(1), object(3)
memory usage: 12.5+ KB

# <font color=green> 2. TRABALHANDO COM TUPLAS
---

# 2.1 Criando tuplas

Tuplas são sequências imutáveis que são utilizadas para armazenar coleções de itens, geralmente heterogêneos. Podem ser construídas de várias formas:
```
- Utilizando um par de parênteses: ( )
- Utilizando uma vírgula à direita: x,
- Utilizando um par de parênteses com itens separados por vírgulas: ( x, y, z )
- Utilizando: tuple() ou tuple(iterador)
```

In [8]:
()

()

In [9]:
1,2,3

(1, 2, 3)

In [10]:
nome = 'passat'
valor = 15300
(nome,valor)

('passat', 15300)

In [11]:
nomes_carros = tuple(['Jetta Variant', 'Passat', 'Crossfox', 'DS5'])
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [12]:
type(nomes_carros)

tuple

# 2.2 Seleções em tuplas

In [13]:
nomes_carros = tuple(['Jetta Variant', 'Passat', 'Crossfox', 'DS5'])
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [14]:
nomes_carros[0]

'Jetta Variant'

In [15]:
nomes_carros[1]

'Passat'

In [16]:
nomes_carros[-1]

'DS5'

In [17]:
nomes_carros[1:3]

('Passat', 'Crossfox')

In [18]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))

In [19]:
nomes_carros[-1]

('Fusca', 'Gol', 'C4')

In [20]:
nomes_carros[-1][1]

'Gol'

# 2.3 Iterando em tuplas

In [21]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [22]:
for item in nomes_carros:
    print(item)

Jetta Variant
Passat
Crossfox
DS5

### Desempacotamento de tuplas

In [23]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [24]:
carro_1,carro_2,carro_3,carro_4 = nomes_carros

In [25]:
carro_1

'Jetta Variant'

In [26]:
carro_2

'Passat'

In [27]:
carro_3

'Crossfox'

In [28]:
carro_4

'DS5'

In [29]:
_,A,_,B = nomes_carros

In [30]:
A

'Passat'

In [31]:
B

'DS5'

In [32]:
_,C,*_ = nomes_carros

In [33]:
C

'Passat'

## *zip()*

https://docs.python.org/3.6/library/functions.html#zip

In [34]:
carros = ['Jetta Variant', 'Passat', 'Crossfox', 'DS5']
carros

['Jetta Variant', 'Passat', 'Crossfox', 'DS5']

In [35]:
valores = [88078.64, 106161.94, 72832.16, 124549.07]
valores

[88078.64, 106161.94, 72832.16, 124549.07]

In [36]:
list(zip(carros,valores))

[('Jetta Variant', 88078.64),
 ('Passat', 106161.94),
 ('Crossfox', 72832.16),
 ('DS5', 124549.07)]

In [37]:
for item in zip(carros,valores):
    print(item)

('Jetta Variant', 88078.64)
('Passat', 106161.94)
('Crossfox', 72832.16)
('DS5', 124549.07)

In [38]:
for carro , valor in zip(carros,valores):
    print(carro , valor )

Jetta Variant 88078.64
Passat 106161.94
Crossfox 72832.16
DS5 124549.07

In [39]:
for carro , valor in zip(carros,valores):
    if valor > 100000:
        print(carro)

Passat
DS5

# <font color=green> 3. TRABALHANDO COM DICIONÁRIOS
---

# 3.1 Criando dicionários

Listas são coleções sequenciais, isto é, os itens destas sequências estão ordenados e utilizam índices (números inteiros) para acessar os valores.

Os dicionários são coleções um pouco diferentes. São estruturas de dados que representam um tipo de mapeamento. Mapeamentos são coleções de associações entre pares de valores onde o primeiro elemento do par é conhecido como chave (*key*) e o segundo como valor (*value*).

```
dicionario = {key_1: value_1, key_2: value_2, ..., key_n: value_n}
```

https://docs.python.org/3.6/library/stdtypes.html#typesmapping

In [40]:
carros = ['Jetta Variant', 'Passat', 'Crossfox']
carros

['Jetta Variant', 'Passat', 'Crossfox']

In [41]:
valores = [88078.64, 106161.94, 72832.16]
valores

[88078.64, 106161.94, 72832.16]

In [42]:
carros.index('Passat')

1

In [43]:
valores[carros.index('Passat')]

106161.94

In [44]:
dados = {'Jetta Variant':88078.64, 'Passat':106161.94, 'Crossfox':72832.16}
dados

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

In [45]:
type(dados)

dict

### Criando dicionários com *zip()*

In [46]:
list(zip(carros,valores))

[('Jetta Variant', 88078.64), ('Passat', 106161.94), ('Crossfox', 72832.16)]

In [47]:
dados = dict(zip(carros,valores))
dados

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

# 3.2 Operações com dicionários

## *dict[ key ]*

Retorna o valor correspondente à chave (*key*) no dicionário.

In [48]:
dados['Passat'] # passa a chave ele retorna o valor

106161.94

## *key in dict*

Retorna **True** se a chave (*key*) for encontrada no dicionário.

In [49]:
'Passat' in dados

True

In [50]:
'Fusca' in dados

False

In [51]:
'Fusca' not in dados

True

## *len(dict)*

Retorna o número de itens do dicionário.

In [52]:
len(dados)

3

## *dict[ key ] = value*

Inclui um item ao dicionário.

In [53]:
dados['DS5'] = 12444.3

In [54]:
dados

{'Jetta Variant': 88078.64,
 'Passat': 106161.94,
 'Crossfox': 72832.16,
 'DS5': 12444.3}

## *del dict[ key ]*

Remove o item de chave (*key*) do dicionário.

In [55]:
dados

{'Jetta Variant': 88078.64,
 'Passat': 106161.94,
 'Crossfox': 72832.16,
 'DS5': 12444.3}

In [56]:
del dados['Passat']
dados

{'Jetta Variant': 88078.64, 'Crossfox': 72832.16, 'DS5': 12444.3}

# 3.3 Métodos de dicionários

## *dict.update()*

Atualiza o dicionário.

In [60]:
dados

{'Nome': ['Jetta Variant', 'Passat', 'Crossfox'],
 'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8'],
 'Ano': [2003, 1991, 1990],
 'Quilometragem': [44410.0, 5712.0, 37123.0],
 'Zero_km': [False, False, False],
 'Valor': [88078.64, 106161.94, 72832.16]}

In [62]:
dados.update({'Passat':106161.95})

In [63]:
dados.update({'Passat':106161.98,'Fusca': 150000})
dados

{'Nome': ['Jetta Variant', 'Passat', 'Crossfox'],
 'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8'],
 'Ano': [2003, 1991, 1990],
 'Quilometragem': [44410.0, 5712.0, 37123.0],
 'Zero_km': [False, False, False],
 'Valor': [88078.64, 106161.94, 72832.16],
 'Passat': 106161.98,
 'Fusca': 150000}

## *dict.copy()*

Cria uma cópia do dicionário.

In [64]:
dadosCopy = dados.copy()

In [65]:
dadosCopy

{'Nome': ['Jetta Variant', 'Passat', 'Crossfox'],
 'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8'],
 'Ano': [2003, 1991, 1990],
 'Quilometragem': [44410.0, 5712.0, 37123.0],
 'Zero_km': [False, False, False],
 'Valor': [88078.64, 106161.94, 72832.16],
 'Passat': 106161.98,
 'Fusca': 150000}

In [66]:
del dadosCopy['Fusca']

In [67]:
dadosCopy

{'Nome': ['Jetta Variant', 'Passat', 'Crossfox'],
 'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8'],
 'Ano': [2003, 1991, 1990],
 'Quilometragem': [44410.0, 5712.0, 37123.0],
 'Zero_km': [False, False, False],
 'Valor': [88078.64, 106161.94, 72832.16],
 'Passat': 106161.98}

## *dict.pop(key[, default ])*

Se a chave for encontrada no dicionário, o item é removido e seu valor é retornado. Caso contrário, o valor especificado como *default* é retornado. Se o valor *default* não for fornecido e a chave não for encontrada no dicionário um erro será gerado.

In [69]:
dadosCopy

{'Nome': ['Jetta Variant', 'Passat', 'Crossfox'],
 'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8'],
 'Ano': [2003, 1991, 1990],
 'Quilometragem': [44410.0, 5712.0, 37123.0],
 'Zero_km': [False, False, False],
 'Valor': [88078.64, 106161.94, 72832.16],
 'Passat': 106161.98}

In [70]:
dadosCopy.pop('Passat')

106161.98

In [71]:
dadosCopy

{'Nome': ['Jetta Variant', 'Passat', 'Crossfox'],
 'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8'],
 'Ano': [2003, 1991, 1990],
 'Quilometragem': [44410.0, 5712.0, 37123.0],
 'Zero_km': [False, False, False],
 'Valor': [88078.64, 106161.94, 72832.16]}

In [72]:
dadosCopy.pop('Passat','Chave não encontrada')

'Chave não encontrada'

In [74]:
dadosCopy.pop('Valor','Chave não encontrada')

[88078.64, 106161.94, 72832.16]

In [75]:
dadosCopy

{'Nome': ['Jetta Variant', 'Passat', 'Crossfox'],
 'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8'],
 'Ano': [2003, 1991, 1990],
 'Quilometragem': [44410.0, 5712.0, 37123.0],
 'Zero_km': [False, False, False]}

## *dict.clear()*

Remove todos os itens do dicionário.

In [76]:
dadosCopy.clear()

In [77]:
dadosCopy

{}

# 3.4 Iterando em dicionários

## *dict.keys()*

Retorna uma lista contendo as chaves (*keys*) do dicionário.

In [78]:
dados.keys()

dict_keys(['Nome', 'Motor', 'Ano', 'Quilometragem', 'Zero_km', 'Valor', 'Passat', 'Fusca'])

In [79]:
[x for x in  dados.keys()]

['Nome',
 'Motor',
 'Ano',
 'Quilometragem',
 'Zero_km',
 'Valor',
 'Passat',
 'Fusca']

## *dict.values()*

Retorna uma lista com todos os valores (*values*) do dicionário.

In [80]:
dados.values()

dict_values([['Jetta Variant', 'Passat', 'Crossfox'], ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8'], [2003, 1991, 1990], [44410.0, 5712.0, 37123.0], [False, False, False], [88078.64, 106161.94, 72832.16], 106161.98, 150000])

## *dict.items()*

Retorna uma lista contendo uma tupla para cada par chave-valor (*key-value*) do dicionário.

In [81]:
dados.items()

dict_items([('Nome', ['Jetta Variant', 'Passat', 'Crossfox']), ('Motor', ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8']), ('Ano', [2003, 1991, 1990]), ('Quilometragem', [44410.0, 5712.0, 37123.0]), ('Zero_km', [False, False, False]), ('Valor', [88078.64, 106161.94, 72832.16]), ('Passat', 106161.98), ('Fusca', 150000)])

In [83]:
[x for x in dados.items()]

[('Nome', ['Jetta Variant', 'Passat', 'Crossfox']),
 ('Motor', ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8']),
 ('Ano', [2003, 1991, 1990]),
 ('Quilometragem', [44410.0, 5712.0, 37123.0]),
 ('Zero_km', [False, False, False]),
 ('Valor', [88078.64, 106161.94, 72832.16]),
 ('Passat', 106161.98),
 ('Fusca', 150000)]

In [86]:
for key,values in dados.items():
    print(key, values)

Nome ['Jetta Variant', 'Passat', 'Crossfox']
Motor ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8']
Ano [2003, 1991, 1990]
Quilometragem [44410.0, 5712.0, 37123.0]
Zero_km [False, False, False]
Valor [88078.64, 106161.94, 72832.16]
Passat 106161.98
Fusca 150000

In [93]:
#for key,v in dados.items():
#    if v >= 100000 :
#        print(key, v)

# <font color=green> 4. FUNÇÕES E PACOTES
---
    
Funções são unidades de código reutilizáveis que realizam uma tarefa específica, podem receber alguma entrada e também podem retornar alguma resultado.

# 4.1 Built-in function

A linguagem Python possui várias funções integradas que estão sempre acessíveis. Algumas já utilizamos em nosso treinamento: type(), print(), zip(), len(), set() etc.

https://docs.python.org/3.6/library/functions.html

In [94]:
dados = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
dados

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

In [98]:
valores = []
for x in dados.values():
    valores.append(x)
valores

[88078.64, 106161.94, 72832.16]

In [99]:
soma = 0 
for valor in dados.values():
    soma +=valor
soma

267072.74

In [100]:
list(dados.values())

[88078.64, 106161.94, 72832.16]

In [101]:
sum(dados.values())

267072.74

In [102]:
sum(dados.values(),1000000000)

1000267072.74

In [103]:
help()

Welcome to Python 3.7's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the Internet at https://docs.python.org/3.7/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help> sum()
No Python documentation found for 'sum()'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

help> print
Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

help> sum
Help on built-in function sum in module builtins:

sum(iterable, start=0, /)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.


You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

In [105]:
print?

# 4.2 Definindo funções sem e com parâmetros

### Funções sem parâmetros

#### Formato padrão

```
def <nome>():
    <instruções>
```

In [106]:
def media ():
    valor = (1 + 2 +3)/3
    print(valor)

In [107]:
media()

2.0

### Funções com parâmetros

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
```

In [108]:
def media(numero1,numero2,numero3):
    valor = (numero1+ numero2+numero3)/3
    print(valor)

In [109]:
media(1,2,3)

2.0

In [110]:
media(10 , 30 , 20)

20.0

In [111]:
def media(lista):
    valor = sum(lista) /len(lista)
    print(valor)

In [113]:
resultado = media([1,2,3,4,5,2,23,4,1,1,2,33,4,1,23,4,2])

6.764705882352941

In [116]:
resultado

In [115]:
type(resultado)

NoneType

# 4.3 Definindo funções que retornam valores

### Funções que retornam um valor

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
    return <resultado>
```

In [122]:
def media(lista):
    valor = sum(lista)/ len(lista)
    return valor

In [119]:
media([1,2,3,4,5,6,7])

4.0

In [125]:
resultado = media([1,2,3,4,5,6,7])

In [126]:
resultado

4.0

### Funções que retornam mais de um valor

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
    return (<resultado_1>, <resultado_2>, ..., <resultado_n>)
```

In [128]:
def media(lista):
    valor = sum(lista)/ len(lista)
    return (valor,len(lista))

In [129]:
media([1,2,3,4,5,6,7])

(4.0, 7)

In [130]:
resultado , tamanho_da_lista = media([1,2,3,4,5,6,7])

In [131]:
resultado

4.0

In [132]:
tamanho_da_lista

7

# <font color=green> 5. PANDAS BÁSICO
---

**versão: 0.25.2**
  
Pandas é uma ferramenta de manipulação de dados de alto nível, construída com base no pacote Numpy. O pacote pandas possui estruturas de dados bastante interessantes para manipulação de dados e por isso é muito utilizado por cientistas de dados.


## Estruturas de Dados

### Series

Series são arrays unidimensionais rotulados capazes de armazenar qualquer tipo de dado. Os rótulos das linhas são chamados de **index**. A forma básica de criação de uma Series é a seguinte:


```
    s = pd.Series(dados, index = index)
```

O argumento *dados* pode ser um dicionário, uma lista, um array Numpy ou uma constante.

### DataFrames

DataFrame é uma estrutura de dados tabular bidimensional com rótulos nas linha e colunas. Como a Series, os DataFrames são capazes de armazenar qualquer tipo de dados.


```
    df = pd.DataFrame(dados, index = index, columns = columns)
```

O argumento *dados* pode ser um dicionário, uma lista, um array Numpy, uma Series e outro DataFrame.

**Documentação:** https://pandas.pydata.org/pandas-docs/version/0.25/

# 5.1 Estruturas de dados

In [133]:
import pandas as pd

### Criando uma Series a partir de uma lista

In [134]:
carros = ['Jetta Variant','Passat','Crossfox']
carros

['Jetta Variant', 'Passat', 'Crossfox']

In [135]:
pd.Series(carros)

0    Jetta Variant
1           Passat
2         Crossfox
dtype: object

### Criando um DataFrame a partir de uma lista de dicionários

In [136]:
dados = [
    {'Nome': 'Jetta Variant', 'Motor': 'Motor 4.0 Turbo', 'Ano': 2003, 'Quilometragem': 44410.0, 'Zero_km': False, 'Valor': 88078.64},
    {'Nome': 'Passat', 'Motor': 'Motor Diesel', 'Ano': 1991, 'Quilometragem': 5712.0, 'Zero_km': False, 'Valor': 106161.94},
    {'Nome': 'Crossfox', 'Motor': 'Motor Diesel V8', 'Ano': 1990, 'Quilometragem': 37123.0, 'Zero_km': False, 'Valor': 72832.16}
]

In [141]:
dataset = pd.DataFrame(dados)

In [140]:
dataset

            Nome            Motor   Ano  Quilometragem  Zero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003        44410.0    False   88078.64
1         Passat     Motor Diesel  1991         5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990        37123.0    False   72832.16

In [144]:
dataset[['Nome', 'Motor','Ano','Zero_km','Quilometragem', 'Valor']]

            Nome            Motor   Ano  Zero_km  Quilometragem      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003    False        44410.0   88078.64
1         Passat     Motor Diesel  1991    False         5712.0  106161.94
2       Crossfox  Motor Diesel V8  1990    False        37123.0   72832.16

### Criando um DataFrame a partir de um dicionário

In [145]:
dados = {
    'Nome': ['Jetta Variant', 'Passat', 'Crossfox'], 
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8'],
    'Ano': [2003, 1991, 1990],
    'Quilometragem': [44410.0, 5712.0, 37123.0],
    'Zero_km': [False, False, False],
    'Valor': [88078.64, 106161.94, 72832.16]
}

In [146]:
dataset = pd.DataFrame(dados)

In [147]:
dados

{'Nome': ['Jetta Variant', 'Passat', 'Crossfox'],
 'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8'],
 'Ano': [2003, 1991, 1990],
 'Quilometragem': [44410.0, 5712.0, 37123.0],
 'Zero_km': [False, False, False],
 'Valor': [88078.64, 106161.94, 72832.16]}

### Criando um DataFrame a partir de uma arquivo externo

In [148]:
dataset = pd.read_csv('/home/lns/Downloads/Alura/DataScients/dataScience/Pandas/python-funcoes-pacotes-pandas/data/db.csv' , sep = ';')

In [150]:
dataset.head(10)

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10
5,Palio Weekend,Motor 1.8 16v,2012,10728.0,False,"['Sensor de estacionamento', 'Teto panorâmico'...",97497.73
6,A5,Motor 4.0 Turbo,2019,NaN,True,"['Câmbio automático', 'Câmera de estacionament...",56445.20
7,Série 3 Cabrio,Motor 1.0 8v,2009,77599.0,False,"['Controle de estabilidade', 'Sensor crepuscul...",112310.44
8,Dodge Jorney,Motor 3.0 32v,2010,99197.0,False,"['Vidros elétricos', 'Piloto automático', 'Tet...",120716.27
9,Carens,Motor 5.0 V8 Bi-Turbo,2011,37978.0,False,"['Ar condicionado', 'Painel digital', 'Central...",76566.49

# 5.2 Seleções com DataFrames

### Selecionando colunas

In [151]:
dataset['Valor']

0       88078.64
1      106161.94
2       72832.16
3      124549.07
4       92612.10
         ...
253     51759.58
254     51667.06
255     68934.03
256    122110.90
257     90381.47
Name: Valor, Length: 258, dtype: float64

In [152]:
type(dataset['Valor'])

pandas.core.series.Series

In [153]:
dataset[['Valor']]

         Valor
0     88078.64
1    106161.94
2     72832.16
3    124549.07
4     92612.10
..         ...
253   51759.58
254   51667.06
255   68934.03
256  122110.90
257   90381.47

[258 rows x 1 columns]

In [154]:
type(dataset[['Valor']])

pandas.core.frame.DataFrame

### Selecionando linhas - [ i : j ] 

<font color=red>**Observação:**</font> A indexação tem origem no zero e nos fatiamentos (*slices*) a linha com índice i é **incluída** e a linha com índice j **não é incluída** no resultado.

In [155]:
dataset[0:3]

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16

### Utilizando .loc para seleções

<font color=red>**Observação:**</font> Seleciona um grupo de linhas e colunas segundo os rótulos ou uma matriz booleana.

In [161]:
dataset.loc[0]

Nome                                                 Jetta Variant
Motor                                              Motor 4.0 Turbo
Ano                                                           2003
Quilometragem                                              44410.0
Zero_km                                                      False
Acessórios       ['Rodas de liga', 'Travas elétricas', 'Piloto ...
Valor                                                     88078.64
Name: 0, dtype: object

In [163]:
dataset.loc[[1,2,3,4]]

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10

In [165]:
dataset.loc[[1,2,3,4],['Nome','Valor']] # informação das linhas e depois das colunas

               Nome      Valor
1            Passat  106161.94
2          Crossfox   72832.16
3               DS5  124549.07
4  Aston Martin DB4   92612.10

In [166]:
dataset.loc[:,['Nome','Valor']]

                      Nome      Valor
0            Jetta Variant   88078.64
1                   Passat  106161.94
2                 Crossfox   72832.16
3                      DS5  124549.07
4         Aston Martin DB4   92612.10
..                     ...        ...
253           Phantom 2013   51759.58
254  Cadillac Ciel concept   51667.06
255             Classe GLK   68934.03
256       Aston Martin DB5  122110.90
257                  Macan   90381.47

[258 rows x 2 columns]

### Utilizando .iloc para seleções

<font color=red>**Observação:**</font> Seleciona com base nos índices, ou seja, se baseia na posição das informações.

In [167]:
dataset.iloc[1]

Nome                                                        Passat
Motor                                                 Motor Diesel
Ano                                                           1991
Quilometragem                                               5712.0
Zero_km                                                      False
Acessórios       ['Central multimídia', 'Teto panorâmico', 'Fre...
Valor                                                    106161.94
Name: 1, dtype: object

In [168]:
dataset.iloc[1:4]

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07

In [170]:
dataset.iloc[1:4,[0,4,2]]

       Nome  Zero_km   Ano
1    Passat    False  1991
2  Crossfox    False  1990
3       DS5     True  2019

In [171]:
dataset.iloc[[14,4 ,233],[0,4,2]]

                 Nome  Zero_km   Ano
14       F-Type Coupé    False  2009
4    Aston Martin DB4    False  2006
233            i30 CW    False  2015

In [172]:
dataset.iloc[:,[0,4,2]]

                      Nome  Zero_km   Ano
0            Jetta Variant    False  2003
1                   Passat    False  1991
2                 Crossfox    False  1990
3                      DS5     True  2019
4         Aston Martin DB4    False  2006
..                     ...      ...   ...
253           Phantom 2013    False  2014
254  Cadillac Ciel concept    False  1991
255             Classe GLK    False  2002
256       Aston Martin DB5    False  1996
257                  Macan    False  1992

[258 rows x 3 columns]

# 5.3 Queries com DataFrames

In [175]:
dataset.head()

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10

In [176]:
dataset.Motor

0            Motor 4.0 Turbo
1               Motor Diesel
2            Motor Diesel V8
3            Motor 2.4 Turbo
4            Motor 2.4 Turbo
               ...
253                 Motor V8
254                 Motor V8
255    Motor 5.0 V8 Bi-Turbo
256             Motor Diesel
257          Motor Diesel V6
Name: Motor, Length: 258, dtype: object

In [178]:
select = dataset.Motor == 'Motor Diesel'

In [180]:
type(select)

pandas.core.series.Series

In [181]:
dataset[select]

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
23,Effa Hafei Picape Baú,Motor Diesel,1991,102959.0,False,"['Controle de estabilidade', 'Painel digital',...",125684.65
60,Sorento,Motor Diesel,2019,NaN,True,"['Sensor de chuva', 'Câmera de estacionamento'...",81399.35
62,New Fiesta Hatch,Motor Diesel,2017,118895.0,False,"['Sensor de estacionamento', 'Travas elétricas...",66007.16
69,Kangoo Express,Motor Diesel,2007,29132.0,False,"['Bancos de couro', 'Câmbio automático', 'Pilo...",146716.91
...,...,...,...,...,...,...,...
226,Dodge Dakota,Motor Diesel,1993,71544.0,False,"['Controle de tração', 'Sensor de estacionamen...",141083.35
233,i30 CW,Motor Diesel,2015,8497.0,False,"['Sensor de chuva', 'Vidros elétricos', 'Contr...",73311.75
237,Série 7 Sedã,Motor Diesel,2019,NaN,True,"['Vidros elétricos', 'Travas elétricas', 'Roda...",67539.79
240,V60,Motor Diesel,2004,91840.0,False,"['Rodas de liga', 'Sensor crepuscular', 'Ar co...",114728.74
256,Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90

In [183]:
dataset[(dataset.Motor == 'Motor Diesel') & (dataset.Zero_km == True)]

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
60,Sorento,Motor Diesel,2019,NaN,True,"['Sensor de chuva', 'Câmera de estacionamento'...",81399.35
78,Cielo Hatch,Motor Diesel,2019,NaN,True,"['Painel digital', 'Central multimídia', 'Câme...",145197.70
124,Camry,Motor Diesel,2019,NaN,True,"['Travas elétricas', 'Rodas de liga', 'Sensor ...",138597.27
189,Aston Martin Virage,Motor Diesel,2019,NaN,True,"['Travas elétricas', 'Controle de tração', 'Câ...",97290.18
237,Série 7 Sedã,Motor Diesel,2019,NaN,True,"['Vidros elétricos', 'Travas elétricas', 'Roda...",67539.79

In [184]:
(dataset.Motor == 'Motor Diesel') & (dataset.Zero_km == True)

0      False
1      False
2      False
3      False
4      False
       ...
253    False
254    False
255    False
256    False
257    False
Length: 258, dtype: bool

### Utilizando o método query

In [185]:
dataset.query('Motor == "Motor Diesel" and Zero_km == True')

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
60,Sorento,Motor Diesel,2019,NaN,True,"['Sensor de chuva', 'Câmera de estacionamento'...",81399.35
78,Cielo Hatch,Motor Diesel,2019,NaN,True,"['Painel digital', 'Central multimídia', 'Câme...",145197.70
124,Camry,Motor Diesel,2019,NaN,True,"['Travas elétricas', 'Rodas de liga', 'Sensor ...",138597.27
189,Aston Martin Virage,Motor Diesel,2019,NaN,True,"['Travas elétricas', 'Controle de tração', 'Câ...",97290.18
237,Série 7 Sedã,Motor Diesel,2019,NaN,True,"['Vidros elétricos', 'Travas elétricas', 'Roda...",67539.79

# 5.4 Iterando com DataFrames

In [173]:
dataset.head()

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10

In [186]:
for item in dataset:
    print(item)

Nome
Motor
Ano
Quilometragem
Zero_km
Acessórios
Valor

In [187]:
list(dataset.iterrows())

[(0, Nome                                                 Jetta Variant
  Motor                                              Motor 4.0 Turbo
  Ano                                                           2003
  Quilometragem                                              44410.0
  Zero_km                                                      False
  Acessórios       ['Rodas de liga', 'Travas elétricas', 'Piloto ...
  Valor                                                     88078.64
  Name: 0, dtype: object),
 (1, Nome                                                        Passat
  Motor                                                 Motor Diesel
  Ano                                                           1991
  Quilometragem                                               5712.0
  Zero_km                                                      False
  Acessórios       ['Central multimídia', 'Teto panorâmico', 'Fre...
  Valor                                                    106161.94
  Name: 1, dtype: object),
 (2, Nome                                                      Crossfox
  Motor                                              Motor Diesel V8
  Ano                                                           1990
  Quilometragem                                              37123.0
  Zero_km                                                      False
  Acessórios       ['Piloto automático', 'Controle de estabilidad...
  Valor                                                     72832.16
  Name: 2, dtype: object),
 (3, Nome                                                           DS5
  Motor                                              Motor 2.4 Turbo
  Ano                                                           2019
  Quilometragem                                                  NaN
  Zero_km                                                       True
  Acessórios       ['Travas elétricas', '4 X 4', 'Vidros elétrico...
  Valor                                                    124549.07
  Name: 3, dtype: object),
 (4, Nome                                              Aston Martin DB4
  Motor                                              Motor 2.4 Turbo
  Ano                                                           2006
  Quilometragem                                              25757.0
  Zero_km                                                      False
  Acessórios       ['Rodas de liga', '4 X 4', 'Central multimídia...
  Valor                                                      92612.1
  Name: 4, dtype: object),
 (5, Nome                                                 Palio Weekend
  Motor                                                Motor 1.8 16v
  Ano                                                           2012
  Quilometragem                                              10728.0
  Zero_km                                                      False
  Acessórios       ['Sensor de estacionamento', 'Teto panorâmico'...
  Valor                                                     97497.73
  Name: 5, dtype: object),
 (6, Nome                                                            A5
  Motor                                              Motor 4.0 Turbo
  Ano                                                           2019
  Quilometragem                                                  NaN
  Zero_km                                                       True
  Acessórios       ['Câmbio automático', 'Câmera de estacionament...
  Valor                                                      56445.2
  Name: 6, dtype: object),
 (7, Nome                                                Série 3 Cabrio
  Motor                                                 Motor 1.0 8v
  Ano                                                           2009
  Quilometragem                                              77599.0
  Zero_km                                                      False
  Acessórios       ['Controle de estabilidade', 'Sensor crepuscul...
  Valor                                                    112310.44
  Name: 7, dtype: object),
 (8, Nome                                                  Dodge Jorney
  Motor                                                Motor 3.0 32v
  Ano                                                           2010
  Quilometragem                                              99197.0
  Zero_km                                                      False
  Acessórios       ['Vidros elétricos', 'Piloto automático', 'Tet...
  Valor                                                    120716.27
  Name: 8, dtype: object),
 (9, Nome                                                        Carens
  Motor                                        Motor 5.0 V8 Bi-Turbo
  Ano                                                           2011
  Quilometragem                                              37978.0
  Zero_km                                                      False
  Acessórios       ['Ar condicionado', 'Painel digital', 'Central...
  Valor                                                     76566.49
  Name: 9, dtype: object),
 (10, Nome                                                     Ford Edge
  Motor                                              Motor Diesel V6
  Ano                                                           2002
  Quilometragem                                              12859.0
  Zero_km                                                      False
  Acessórios       ['Sensor crepuscular', 'Rodas de liga', 'Teto ...
  Valor                                                     71647.59
  Name: 10, dtype: object),
 (11, Nome                                                       Courier
  Motor                                              Motor Diesel V8
  Ano                                                           2007
  Quilometragem                                               8052.0
  Zero_km                                                      False
  Acessórios       ['Central multimídia', '4 X 4', 'Piloto automá...
  Valor                                                     73919.53
  Name: 11, dtype: object),
 (12, Nome                                                          S-18
  Motor                                                     Motor V6
  Ano                                                           2001
  Quilometragem                                              89773.0
  Zero_km                                                      False
  Acessórios       ['Bancos de couro', 'Sensor de chuva', 'Rodas ...
  Valor                                                    112732.99
  Name: 12, dtype: object),
 (13, Nome                                                            J5
  Motor                                                     Motor V6
  Ano                                                           2019
  Quilometragem                                                  NaN
  Zero_km                                                       True
  Acessórios       ['Sensor crepuscular', 'Painel digital', 'Roda...
  Valor                                                     53183.38
  Name: 13, dtype: object),
 (14, Nome                                                  F-Type Coupé
  Motor                                        Motor 5.0 V8 Bi-Turbo
  Ano                                                           2009
  Quilometragem                                              41457.0
  Zero_km                                                      False
  Acessórios       ['Piloto automático', 'Sensor crepuscular', 'S...
  Valor                                                    127488.42
  Name: 14, dtype: object),
 (15, Nome                                                           RAM
  Motor                                              Motor Diesel V8
  Ano                                                           2016
  Quilometragem                                             115607.0
  Zero_km                                                      False
  Acessórios       ['Sensor crepuscular', 'Câmbio automático', 'S...
  Valor                                                      59910.4
  Name: 15, dtype: object),
 (16, Nome                                                       Série 1
  Motor                                                Motor 3.0 32v
  Ano                                                           2012
  Quilometragem                                              46449.0
  Zero_km                                                      False
  Acessórios       ['Teto panorâmico', 'Câmera de estacionamento'...
  Valor                                                     61118.59
  Name: 16, dtype: object),
 (17, Nome                                                            A3
  Motor                                                 Motor 1.0 8v
  Ano                                                           2019
  Quilometragem                                                  NaN
  Zero_km                                                       True
  Acessórios       ['4 X 4', 'Piloto automático', 'Central multim...
  Valor                                                     88552.39
  Name: 17, dtype: object),
 (18, Nome                                                          XC90
  Motor                                                 Motor 1.0 8v
  Ano                                                           2016
  Quilometragem                                              37086.0
  Zero_km                                                      False
  Acessórios       ['Travas elétricas', 'Vidros elétricos', 'Teto...
  Valor                                                     62696.69
  Name: 18, dtype: object),
 (19, Nome                                                RS 3 Sportback
  Motor                                                Motor 3.0 32v
  Ano                                                           2017
  Quilometragem                                              15173.0
  Zero_km                                                      False
  Acessórios       ['4 X 4', 'Piloto automático', 'Central multim...
  Valor                                                     101726.3
  Name: 19, dtype: object),
 (20, Nome                                                  Pajero Sport
  Motor                                                 Motor 1.0 8v
  Ano                                                           2002
  Quilometragem                                             101193.0
  Zero_km                                                      False
  Acessórios       ['Sensor de estacionamento', 'Piloto automátic...
  Valor                                                    106147.38
  Name: 20, dtype: object),
 (21, Nome                                                     Série 1 M
  Motor                                                     Motor V8
  Ano                                                           2019
  Quilometragem                                                  NaN
  Zero_km                                                       True
  Acessórios       ['Controle de estabilidade', 'Central multimíd...
  Valor                                                      94564.4
  Name: 21, dtype: object),
 (22, Nome                                           Lamborghini Obvious
  Motor                                              Motor Diesel V6
  Ano                                                           1994
  Quilometragem                                              98079.0
  Zero_km                                                      False
  Acessórios       ['Rodas de liga', 'Câmbio automático', 'Travas...
  Valor                                                    133529.84
  Name: 22, dtype: object),
 (23, Nome                                         Effa Hafei Picape Baú
  Motor                                                 Motor Diesel
  Ano                                                           1991
  Quilometragem                                             102959.0
  Zero_km                                                      False
  Acessórios       ['Controle de estabilidade', 'Painel digital',...
  Valor                                                    125684.65
  Name: 23, dtype: object),
 (24, Nome                                        Lamborghini Murciélago
  Motor                                        Motor 5.0 V8 Bi-Turbo
  Ano                                                           2019
  Quilometragem                                                  NaN
  Zero_km                                                       True
  Acessórios       ['Freios ABS', 'Câmbio automático', 'Ar condic...
  Valor                                                    121596.21
  Name: 24, dtype: object),
 (25, Nome                                                           Up!
  Motor                                              Motor Diesel V6
  Ano                                                           2019
  Quilometragem                                                  NaN
  Zero_km                                                       True
  Acessórios       ['Sensor de estacionamento', 'Vidros elétricos...
  Valor                                                      71367.1
  Name: 25, dtype: object),
 (26, Nome                                            Fiesta Rocam Sedan
  Motor                                              Motor 4.0 Turbo
  Ano                                                           2016
  Quilometragem                                               5795.0
  Zero_km                                                      False
  Acessórios       ['Ar condicionado', 'Bancos de couro', 'Câmbio...
  Valor                                                     95347.75
  Name: 26, dtype: object),
 (27, Nome                                               Sandero Stepway
  Motor                                                Motor 3.0 32v
  Ano                                                           2019
  Quilometragem                                                  NaN
  Zero_km                                                       True
  Acessórios       ['Freios ABS', 'Ar condicionado', 'Teto panorâ...
  Valor                                                    105432.84
  Name: 27, dtype: object),
 (28, Nome                                                      Cayman S
  Motor                                                Motor 3.0 32v
  Ano                                                           2002
  Quilometragem                                              58848.0
  Zero_km                                                      False
  Acessórios       ['Câmbio automático', 'Sensor de estacionament...
  Valor                                                     57045.27
  Name: 28, dtype: object),
 (29, Nome                                                           V40
  Motor                                              Motor 4.0 Turbo
  Ano                                                           1991
  Quilometragem                                              94381.0
  Zero_km                                                      False
  Acessórios       ['Câmera de estacionamento', 'Sensor de estaci...
  Valor                                                     120432.7
  Name: 29, dtype: object),
 (30, Nome                                                Classe SLS AMG
  Motor                                                 Motor 1.0 8v
  Ano                                                           1997
  Quilometragem                                              30163.0
  Zero_km                                                      False
  Acessórios       ['Sensor de estacionamento', 'Controle de esta...
  Valor                                                      70707.2
  Name: 30, dtype: object),
 (31, Nome                                                        Gol G4
  Motor                                                Motor 2.0 16v
  Ano                                                           1995
  Quilometragem                                              53332.0
  Zero_km                                                      False
  Acessórios       ['Sensor crepuscular', '4 X 4', 'Vidros elétri...
  Valor                                                     69105.18
  Name: 31, dtype: object),
 (32, Nome                                                         Linea
  Motor                                                 Motor 1.0 8v
  Ano                                                           2018
  Quilometragem                                              17720.0
  Zero_km                                                      False
  Acessórios       ['Piloto automático', 'Painel digital', 'Vidro...
  Valor                                                     59358.69
  Name: 32, dtype: object),
 (33, Nome                                                     Ford F100
  Motor                                                Motor 2.0 16v
  Ano                                                           1991
  Quilometragem                                              33808.0
  Zero_km                                                      False
  Acessórios       ['Controle de tração', 'Sensor crepuscular', '...
  Valor                                                      65955.4
  Name: 33, dtype: object),
 (34, Nome                                                            J2
  Motor                                                     Motor V8
  Ano                                                           2014
  Quilometragem                                              90684.0
  Zero_km                                                      False
  Acessórios       ['Teto panorâmico', 'Sensor de estacionamento'...
  Valor                                                     60017.03
  Name: 34, dtype: object),
 (35, Nome                                              Aston Martin DBS
  Motor                                                     Motor V8
  Ano                                                           1995
  Quilometragem                                              43975.0
  Zero_km                                                      False
  Acessórios       ['Teto panorâmico', 'Piloto automático', 'Ar c...
  Valor                                                    118909.52
  Name: 35, dtype: object),
 (36, Nome                                                    Pajero TR4
  Motor                                              Motor 2.4 Turbo
  Ano                                                           2019
  Quilometragem                                                  NaN
  Zero_km                                                       True
  Acessórios       ['Controle de tração', 'Bancos de couro', 'Câm...
  Valor                                                     51606.59
  Name: 36, dtype: object),
 (37, Nome                                                    Polo Sedan
  Motor                                                     Motor V6
  Ano                                                           2019
  Quilometragem                                                  NaN
  Zero_km                                                       True
  Acessórios       ['Sensor de chuva', 'Sensor crepuscular', 'Ar ...
  Valor                                                    123281.87
  Name: 37, dtype: object),
 (38, Nome                                                    California
  Motor                                                 Motor 1.0 8v
  Ano                                                           2009
  Quilometragem                                               5526.0
  Zero_km                                                      False
  Acessórios       ['Rodas de liga', 'Ar condicionado', 'Câmera d...

In [190]:
for index , row in dataset.iterrows():
    if(2019 - row['Ano'] != 0 ):
        dataset.loc[index,'KM_media'] = row['Quilometragem'] / (2019- row['Ano'])
    else:
        dataset.loc[index,'KM_media'] = 0 
dataset

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor,KM_media
0,Jetta Variant,Motor 4.0 Turbo,2003.0,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64,2775.625000
1,Passat,Motor Diesel,1991.0,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94,204.000000
2,Crossfox,Motor Diesel V8,1990.0,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16,1280.103448
3,DS5,Motor 2.4 Turbo,2019.0,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07,0.000000
4,Aston Martin DB4,Motor 2.4 Turbo,2006.0,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10,1981.307692
...,...,...,...,...,...,...,...,...
254,Cadillac Ciel concept,Motor V8,1991.0,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06,1070.750000
255,Classe GLK,Motor 5.0 V8 Bi-Turbo,2002.0,52637.0,False,"['Rodas de liga', 'Controle de tração', 'Câmbi...",68934.03,3096.294118
256,Aston Martin DB5,Motor Diesel,1996.0,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90,334.130435
257,Macan,Motor Diesel V6,1992.0,50188.0,False,"['Central multimídia', 'Teto panorâmico', 'Vid...",90381.47,1858.814815
Nome,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# 5.5 Tratamento de dados

In [191]:
dataset.head()

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor,KM_media
0,Jetta Variant,Motor 4.0 Turbo,2003.0,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64,2775.625000
1,Passat,Motor Diesel,1991.0,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94,204.000000
2,Crossfox,Motor Diesel V8,1990.0,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16,1280.103448
3,DS5,Motor 2.4 Turbo,2019.0,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07,0.000000
4,Aston Martin DB4,Motor 2.4 Turbo,2006.0,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10,1981.307692

In [192]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 259 entries, 0 to Nome
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Nome           258 non-null    object
 1   Motor          258 non-null    object
 2   Ano            258 non-null    float64
 3   Quilometragem  197 non-null    float64
 4   Zero_km        258 non-null    object
 5   Acessórios     258 non-null    object
 6   Valor          258 non-null    float64
 7   KM_media       258 non-null    float64
dtypes: float64(4), object(4)
memory usage: 26.3+ KB

In [195]:
dataset.Quilometragem.isna()

0       False
1       False
2       False
3        True
4       False
        ...
254     False
255     False
256     False
257     False
Nome     True
Name: Quilometragem, Length: 259, dtype: bool

In [194]:
dataset[dataset.Quilometragem.isna()]

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor,KM_media
3,DS5,Motor 2.4 Turbo,2019.0,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07,0.0
6,A5,Motor 4.0 Turbo,2019.0,NaN,True,"['Câmbio automático', 'Câmera de estacionament...",56445.20,0.0
13,J5,Motor V6,2019.0,NaN,True,"['Sensor crepuscular', 'Painel digital', 'Roda...",53183.38,0.0
17,A3,Motor 1.0 8v,2019.0,NaN,True,"['4 X 4', 'Piloto automático', 'Central multim...",88552.39,0.0
21,Série 1 M,Motor V8,2019.0,NaN,True,"['Controle de estabilidade', 'Central multimíd...",94564.40,0.0
...,...,...,...,...,...,...,...,...
242,Benni Mini,Motor V8,2019.0,NaN,True,"['Sensor crepuscular', 'Câmbio automático', 'C...",126247.84,0.0
243,Uno,Motor Diesel V6,2019.0,NaN,True,"['Central multimídia', 'Sensor crepuscular', '...",128852.21,0.0
245,Santa Fe,Motor 3.0 32v,2019.0,NaN,True,"['Travas elétricas', 'Ar condicionado', '4 X 4...",129415.33,0.0
248,XC60,Motor 4.0 Turbo,2019.0,NaN,True,"['Painel digital', 'Piloto automático', 'Centr...",77675.79,0.0
Nome,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [196]:
dataset.fillna(0,inplace=True)

In [197]:
dataset.head()

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor,KM_media
0,Jetta Variant,Motor 4.0 Turbo,2003.0,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64,2775.625000
1,Passat,Motor Diesel,1991.0,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94,204.000000
2,Crossfox,Motor Diesel V8,1990.0,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16,1280.103448
3,DS5,Motor 2.4 Turbo,2019.0,0.0,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07,0.000000
4,Aston Martin DB4,Motor 2.4 Turbo,2006.0,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10,1981.307692

In [198]:
dataset.query('Zero_km == True')

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor,KM_media
3,DS5,Motor 2.4 Turbo,2019.0,0.0,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07,0.0
6,A5,Motor 4.0 Turbo,2019.0,0.0,True,"['Câmbio automático', 'Câmera de estacionament...",56445.20,0.0
13,J5,Motor V6,2019.0,0.0,True,"['Sensor crepuscular', 'Painel digital', 'Roda...",53183.38,0.0
17,A3,Motor 1.0 8v,2019.0,0.0,True,"['4 X 4', 'Piloto automático', 'Central multim...",88552.39,0.0
21,Série 1 M,Motor V8,2019.0,0.0,True,"['Controle de estabilidade', 'Central multimíd...",94564.40,0.0
...,...,...,...,...,...,...,...,...
238,Lamborghini Reventón,Motor 4.0 Turbo,2019.0,0.0,True,"['Controle de tração', 'Ar condicionado', 'Cen...",67664.86,0.0
242,Benni Mini,Motor V8,2019.0,0.0,True,"['Sensor crepuscular', 'Câmbio automático', 'C...",126247.84,0.0
243,Uno,Motor Diesel V6,2019.0,0.0,True,"['Central multimídia', 'Sensor crepuscular', '...",128852.21,0.0
245,Santa Fe,Motor 3.0 32v,2019.0,0.0,True,"['Travas elétricas', 'Ar condicionado', '4 X 4...",129415.33,0.0
248,XC60,Motor 4.0 Turbo,2019.0,0.0,True,"['Painel digital', 'Piloto automático', 'Centr...",77675.79,0.0

In [199]:
dataset = pd.read_csv('/home/lns/Downloads/Alura/DataScients/dataScience/Pandas/python-funcoes-pacotes-pandas/data/db.csv' , sep = ';')

In [200]:
dataset

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10
...,...,...,...,...,...,...,...
253,Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58
254,Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06
255,Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Rodas de liga', 'Controle de tração', 'Câmbi...",68934.03
256,Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90
257,Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimídia', 'Teto panorâmico', 'Vid...",90381.47

In [201]:
dataset.dropna(subset=['Quilometragem'], inplace = True)

In [202]:
dataset

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10
5,Palio Weekend,Motor 1.8 16v,2012,10728.0,False,"['Sensor de estacionamento', 'Teto panorâmico'...",97497.73
...,...,...,...,...,...,...,...
253,Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58
254,Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06
255,Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Rodas de liga', 'Controle de tração', 'Câmbi...",68934.03
256,Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90
257,Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimídia', 'Teto panorâmico', 'Vid...",90381.47