# Task 
### Calcule a quantidade de avaliações por marca
### Calcule a media das avalições do produto a vista( 10% do valor Original)
### Transforme as palavas das colunas Style para português
### conte quantos pratos (variedades) possuem Noodles

In [28]:
import pandas as pd 
dados_do_lamen = pd.read_csv("ramen-ratings.csv")
dados_do_lamen.head(10)

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN
5,2575,Samyang Foods,Kimchi song Song Ramen,Pack,South Korea,4.75,NaN
6,2574,Acecook,Spice Deli Tantan Men With Cilantro,Cup,Japan,4,NaN
7,2573,Ikeda Shoku,Nabeyaki Kitsune Udon,Tray,Japan,3.75,NaN
8,2572,Ripe'n'Dry,Hokkaido Soy Sauce Ramen,Pack,Japan,0.25,NaN
9,2571,KOKA,The Original Spicy Stir-Fried Noodles,Pack,Singapore,2.5,NaN

In [29]:
dados_do_lamen.columns = ['revisao','marca','variedade','estilo','pais','notas','top_10']
dados_do_lamen

,revisao,marca,variedade,estilo,pais,notas,top_10
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN
...,...,...,...,...,...,...,...
2575,5,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.5,NaN
2576,4,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1,NaN
2577,3,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2,NaN
2578,2,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2,NaN
2579,1,Westbrae,Miso Ramen,Pack,USA,0.5,NaN

In [18]:
dados_do_lamen.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2580 entries, 0 to 2579
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   revisao    2580 non-null   int64
 1   marca      2580 non-null   object
 2   variedade  2580 non-null   object
 3   estilo     2578 non-null   object
 4   pais       2580 non-null   object
 5   notas      2580 non-null   object
 6   top_10     41 non-null     object
dtypes: int64(1), object(6)
memory usage: 141.2+ KB

In [19]:
dados_do_lamen.notas.value_counts()

4          384
5          369
3.75       350
3.5        326
3          173
3.25       170
4.25       143
4.5        132
2.75        85
2           68
2.5         67
4.75        64
1.5         37
1.75        27
1           26
0           26
2.25        21
0.5         14
0.25        11
1.25        10
5.0         10
3.50         9
5.00         7
4.00         6
4.3          4
3.8          3
4.0          3
4.50         3
Unrated      3
1.1          2
2.8          2
2.9          2
4.125        2
2.3          2
3.1          2
3.0          2
2.1          1
0.9          1
0.75         1
3.125        1
2.125        1
3.00         1
0.1          1
3.3          1
3.7          1
3.4          1
3.6          1
2.85         1
3.2          1
3.65         1
1.8          1
Name: notas, dtype: int64

In [20]:
#Calcule a media das avalições do produto a vista (10% do valor Original)
dados_do_lamen.notas = dados_do_lamen.notas.replace(['Unrated'],[0]) 
dados_do_lamen['notas'] = pd.to_numeric(dados_do_lamen['notas'],errors = 'coerce')

test1 = dados_do_lamen.groupby('marca').agg({'notas':'mean'}).reset_index()
test1

                marca     notas
0      1 To 3 Noodles  4.000000
1            7 Select  3.750000
2     7 Select/Nissin  3.500000
3               A-One  2.750000
4    A-Sha Dry Noodle  4.067308
..                ...       ...
350           Yum Yum  3.750000
351           Yum-Mie  3.500000
352           Zow Zow  3.750000
353              iMee  3.500000
354           iNoodle  3.000000

[355 rows x 2 columns]

In [21]:
dados_do_lamen['notas_multiplicdas']=dados_do_lamen['notas']*1.1
dados_do_lamen

,revisao,marca,variedade,estilo,pais,notas,top_10,notas_multiplicdas
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN,4.125
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1.00,NaN,1.100
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN,2.475
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN,3.025
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN,4.125
...,...,...,...,...,...,...,...,...
2575,5,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.50,NaN,3.850
2576,4,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1.00,NaN,1.100
2577,3,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2.00,NaN,2.200
2578,2,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2.00,NaN,2.200
2579,1,Westbrae,Miso Ramen,Pack,USA,0.50,NaN,0.550

In [22]:
#Transforme as palavas das colunas Style para português
#cup = copo , pack = pacote ,tray = bandeja ,bowl = tigela ,box = caixa ,can = lata,bar =barra

dados_do_lamen.estilo = dados_do_lamen.estilo.replace(['Cup', 'Pack', 'Tray', 'Bowl', 'Box', 'Can', 'Bar'],
                                        ['Copo','Pacote','Bandeja','Tigela','Caixa','Lata','Barra'])
dados_do_lamen

,revisao,marca,variedade,estilo,pais,notas,top_10,notas_multiplicdas
0,2580,New Touch,T's Restaurant Tantanmen,Copo,Japan,3.75,NaN,4.125
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pacote,Taiwan,1.00,NaN,1.100
2,2578,Nissin,Cup Noodles Chicken Vegetable,Copo,USA,2.25,NaN,2.475
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pacote,Taiwan,2.75,NaN,3.025
4,2576,Ching's Secret,Singapore Curry,Pacote,India,3.75,NaN,4.125
...,...,...,...,...,...,...,...,...
2575,5,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Tigela,Vietnam,3.50,NaN,3.850
2576,4,Wai Wai,Oriental Style Instant Noodles,Pacote,Thailand,1.00,NaN,1.100
2577,3,Wai Wai,Tom Yum Shrimp,Pacote,Thailand,2.00,NaN,2.200
2578,2,Wai Wai,Tom Yum Chili Flavor,Pacote,Thailand,2.00,NaN,2.200
2579,1,Westbrae,Miso Ramen,Pacote,USA,0.50,NaN,0.550

In [34]:
#conte quantos pratos (variedades) possuem Noodles

dados_do_lamen_1 = dados_do_lamen[dados_do_lamen['variedade'].str.contains('Noodles')]# contains (for)
dados_Noodles = pd.DataFrame(dados_do_lamen_1['variedade'])
dados_Noodles.head(10)
len(dados_Noodles)

#lista_de_Noodles = []
#for i in dados_do_lamen.variedade:
#    if 'Noodles' in i:
#        lista_de_Noodles.append(i)
#series_Noodles=pd.Series(lista_de_Noodles)
#df_noodles = pd.DataFrame(series_Noodles)
#

661

In [23]:
#Calcule a quantidade de avaliações por marca
dados_quantidade_marcas = dados_do_lamen.marca.value_counts().to_frame().reset_index().head(10)
dados_quantidade_marcas.rename(columns={'index' : 'marca_unique','marca':'total_marca'},inplace = True)
dados_quantidade_marcas

    marca_unique  total_marca
0         Nissin          381
1       Nongshim           98
2       Maruchan           76
3           Mama           71
4          Paldo           66
5          Myojo           63
6        Indomie           53
7  Samyang Foods           52
8         Ottogi           46
9      Lucky Me!           34

In [24]:
dados_do_lamen.rename(columns={'notas':'notas_puras'},inplace = True)
dados_do_lamen

,revisao,marca,variedade,estilo,pais,notas_puras,top_10,notas_multiplicdas
0,2580,New Touch,T's Restaurant Tantanmen,Copo,Japan,3.75,NaN,4.125
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pacote,Taiwan,1.00,NaN,1.100
2,2578,Nissin,Cup Noodles Chicken Vegetable,Copo,USA,2.25,NaN,2.475
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pacote,Taiwan,2.75,NaN,3.025
4,2576,Ching's Secret,Singapore Curry,Pacote,India,3.75,NaN,4.125
...,...,...,...,...,...,...,...,...
2575,5,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Tigela,Vietnam,3.50,NaN,3.850
2576,4,Wai Wai,Oriental Style Instant Noodles,Pacote,Thailand,1.00,NaN,1.100
2577,3,Wai Wai,Tom Yum Shrimp,Pacote,Thailand,2.00,NaN,2.200
2578,2,Wai Wai,Tom Yum Chili Flavor,Pacote,Thailand,2.00,NaN,2.200
2579,1,Westbrae,Miso Ramen,Pacote,USA,0.50,NaN,0.550

In [25]:
df4 = pd.concat([dados_quantidade_marcas,teste1,dados_do_lamen,df_noodles],axis = 1)
# ele coloca um em lado do outro  
df4.rename(columns={0:'marcas_noodles','notas':'medias_notas'},inplace = True)
df4.drop(['top_10'], axis=1,inplace=True)
df4

NameError: name 'dados_quantidade_marcas' is not defined

In [26]:
#df4.to_csv('Relatorio_de_entrega_semana2.csv', index=False)